<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- begin::Head -->
<head th:replace="layout/general/html-head :: html_head_frag(~{::title},~{})">
    <title>Empty Page</title>
    <!--<link rel="shortcut icon" th:href="@{/favicon4.ico}"/>-->
</head>
<!-- end::Head -->
http://127.0.0.1:8084/assets/js/pages/skin/default/layer.css?v=3.0.3303
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: Page -->
<div th:replace="layout/general/page-menu-header :: page_menu_header_mobile_frag"></div>
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div th:replace="layout/general/page-menu-aside :: page_menu_aside_frag"></div>
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <div th:replace="layout/general/page-menu-header :: page_menu_header_frag"></div>
            <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                <div th:replace="layout/general/page-menu-header :: page_menu_subheader_frag"></div>
                <!-- begin:: Content -->
                <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                    Content goes here...
                </div>
                <!-- end:: Content -->
            </div>
            <div th:replace="layout/general/page-menu-footer :: page_menu_footer_frag"></div>
        </div>
    </div>
</div>
<!-- end:: Page -->
</body>
<div th:replace="layout/general/page-menu-header :: page_menu_quick_panel_frag"></div>
<div th:replace="layout/general/page-menu-header :: page_menu_scrolltop_frag"></div>
<div th:replace="layout/general/page-menu-header :: page_menu_sticky_toolbar_frag"></div>
<div th:replace="layout/general/page-menu-header :: page_menu_demo_panel_frag"></div>
<div th:replace="layout/general/page-menu-header :: page_menu_chat_frag"></div>

<footer th:replace="layout/general/html-footer :: html_footer_frag(~{})"></footer>
<!-- end::Body -->
</html>