<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page-menu-footer</title>
</head>
<body>
<!-- begin:: Footer -->
<div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer"
     th:fragment="page_menu_footer_frag">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-footer__copyright">
            2020&nbsp;&copy;&nbsp;<a class="kt-link" href="http://keenthemes.com/metronic"
                                     target="_blank">Keenthemes</a>
        </div>
        <div class="kt-footer__menu">
            <a class="kt-footer__menu-link kt-link" href="http://keenthemes.com/metronic" target="_blank">About</a>
            <a class="kt-footer__menu-link kt-link" href="http://keenthemes.com/metronic" target="_blank">Team</a>
            <a class="kt-footer__menu-link kt-link" href="http://keenthemes.com/metronic" target="_blank">Contact</a>
        </div>
    </div>
</div>
<!-- end:: Footer -->
</body>
</html>